body {
    text-align: center;
    color: greenyellow;
    font-family:  'Times New Roman';
    font-size: medium;
    
    border: 2px solid  #29d812;
}
header {
  text-align: center; 
  background: url("https://i.imgur.com/EBWD1ji.png");
  background-size: cover;
  color: rgb(24, 228, 38);
 }
input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background:  #2cd812;
    color: #424949;
  }
  ul{
    padding: 10px;
    background: black;
  }
  li {
   display: inline; 
   padding: 0px 10px 0px 10px;
  }
  a {
    color: rgb(182, 247, 171);
 }